<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MuzWay | Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        body {
            background-color: #121212;
            color: white;
        }

        
    </style>
  </head>
  <body>
        <nav class="navbar navbar-expand-lg bg-body-tertiary" class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
            <div class="container-fluid">
            </div>
          </nav>
        <div>
            <a href=".">
                <img src="../../static/frontpic.png"  style="vertical-align:middle; width:40%; height: 40%; margin-left: 25%; margin-top: 50px;" alt="Let your self flow in rhytms">
            </a>
        </div>
</body>
</html>