<!doctype html>
<html lang="en" style="height: 80%;">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User Login | Muzway</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </head>
<body style="background-color: #164454; color: white; height: 100%; width: 100%; position: relative;">
  <div style="background-color:aliceblue; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); width: 500px; height:300px; margin-left: 17%;margin-top: 80px; border-radius: 15px; border: 1px solid black;">
    <h2 style="display: table; margin-left: 10%; margin-top: 10px; color:crimson;">User Login</h2> <hr style="border: 1px solid black; margin: 20px 30px 20px 30px;">
    <form action="/UserLogin" method="POST" style="display: table; margin-left: 40px; color: black;">
        <label>Enter your Name/UserName:</label>
        <input class="form-control" type="text" aria-label="default input example" name="uname" autofocus>

        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password:</label>
          <input type="password" class="form-control" id="exampleInputPassword1" name="passs" style="width: 400px;">
        </div>
        
        <button type="submit" class="btn btn-primary" value="submit">Submit</button>
        <a href="/">
          <button type="button" class="btn btn-secondary">Back</button>
        </a>
      </form>
      </div>
      <br>
      {% for msg in get_flashed_messages() %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{msg}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
      <div style="position: absolute; bottom: 30px; right: 30px;">
        <span style="font-family: fantasy; font-style:italic; font-size: large; color:antiquewhite;">{{quote}}</span>
      </div>
</body>
</html>